@charset "utf-8";
@import "colors.scss";
/* CSS Document */

/* color sample */

/* basic elements */
body {
    font-family: sans-serif;
    color:#555;
}
body.blur > *:not(.modalWindow) {
    -webkit-filter: blur(.5em);
}

h1 {
    color: $byuBlue;
    font-weight: bold;
}

h2 {
    color: $byuBlueHL;
}

h3 {
    text-transform: uppercase;
    color: $mainGrey;
}

.swatch {
    padding: 1em;
    height: 2em;
    color: #fff;
    width:100%;
    display: inline-table;
}

.description {
    padding: .5em; 
    height: 4em;
}

.mainBlue {
    background-color: $mainBlue;
 }

.mainBlueHL {
    background-color: $mainBlueHL;
}

.byuBlue {
    background-color: $byuBlue;
}

.byuBlueHL {
    background-color: $byuBlueHL;
}

.mainGrey {
    background-color: $mainGrey;
}

.mainGreyHL {
    background-color: $mainGreyHL;
}

.disabledGrey {
    background-color: $disabledGrey;
}

.creme {
    background-color: $creme;
    color: #555;
}

/* Button Styles */

button, input[type=button], input[type=submit] {
    margin:.5em 0;
    padding:1em;
    border:0;
    border-radius:.5em;
    color: $white;
    font-size: .8em;
    transition-background: all 1s;
    &:hover {
        box-shadow: inset 0 0 15px rgba(10, 10, 10, .8);
        cursor: pointer; 
    }
    &.disabledBtn:hover {
        box-shadow: none;
        cursor: default;
    }
}
input[disabled], button[disabled] {
    .disabledBtn;
}
.mainBtn {
    background: $gradBlue;
}

.mainBtn:hover {
    background: $byuBlueHL;
}

.secondaryBtn {
    background: $gradGrey;
}

.secondaryBtn:hover {
    background: $mainGrey;
}

.greenBtn {
    background: $gradGreen;
}

.greenBtn:hover {
    background: $green;
}

.redBtn {
    background: $gradRed;
}

.modalWindow .redBtn:before {
    content: "close";
}
.redBtn:hover {
    background: $red;
}

.disabledBtn {
    background-color: $disabledGrey;
}

.closeBtn {
    border: 0;
    border-radius: 50%;
    background: $red;
    width: 3em;
    font-weight: bold;
    font-size:.85em;
    }

.closeBtn:before {
    content: "X";
}

/* Modal Window Elements */ 
div.modalBackground{
    width: 100%;
    height: 100%;
    -webkit-filter: blur(5px);
    filter: blur(5px);
    position: fixed;
    top: 0;
    left: 0;
}
.modalWindow {
    box-shadow: 1em 1em 1em rgba(100, 100, 100, .8);
    position: fixed;
    left: 27.5%;
    width: 45%;
    top:30%;
    height:auto;
    min-height: 25%;
    max-height: 40%;
    z-index: 2;
    background-color: rgba(250, 250, 250, .8);
    border: 0;
    border-radius: .5em;
    overflow: auto;
    padding: 3em 1em;
}

.modalWindow header {
 
    color: #fff;
    background-color: $mainBlue;
    font-size: 1.3em;
    padding: .5em;
    text-align: center;
    border: 0; 
    border-radius: .4em .4em 0 0;
    position:fixed;
    width: 45%;
    margin: -2.3em -.75em;
}

.modalWindow p, .modalWindow button {
    margin: .5em 1em;
}

.modalWindow .modalClose {
    position: absolute;
    right: 0;
    top:0;
    color: white;
    background: $mainBlue;
    margin: 0;
    border-radius: 0 .4em 0 0;
    padding: .65em 1em;
}

.modalWindow .modalClose:hover {
    cursor: pointer;
    background: $mainBlueHL;
}

.modalWindow .modalClose:before {
    content: "x";
}

.modalWindow img {
    width: 100%;
}

.modalContent {
    display: none;
    padding: 1em;
}

.modalBackground {
    height: 100%;
    width: 100%;
    position: fixed;
    top:0;
}

/* Drop Down */
ul#dropDown {
    height: 0;
    transition: height 1s;
    visibility: hidden;
}
ul#dropDown.showMe {
    height: 10em;
    visibility: visible;
    list-style: none;
    background-color: rgba(250, 250, 250, .8);
    width: 30%;
    border: 0;
    border-radius: .5em;
    box-shadow: .5em .5em 15px rgba(100, 100, 100, .8);
    padding: 0;
    position: absolute;
    z-index: 3;
}

ul#dropDown.showMe li {
    padding: .5em 1em;
}

ul#dropDown.showMe li:first-child {
    border: 0;
    border-radius: .5em .5em 0em 0em;
}

ul#dropDown.showMe li:last-child {
    border: 0;
    border-radius: 0em 0em .5em .5em;
    }

ul#dropDown.showMe li:hover {
 background-color: $byuBlueHL;
 color: white;
 }

/* Table Elements */

table, th, tr{
    border-collapse: collapse;
    background: $creme;
    padding: 1em;
    border: $mainBlue;
    margin:1em;
}

td {
    padding: 1em;
    transition: background .3s;
}

th {
    background: $byuBlue;
    color: white;
    transition: background .3s;
}

th:hover {
    background: $byuBlueHL;
}

table tr:nth-child(odd) {
    background: white;
}

td:hover {
    background: $byuBlueHL;
    color: white;
}

